{% extends 'layout.html.twig' %}

{% block content %}
    {% include 'composants/_navbar.html.twig' %}
    <!-- Start Contact Us
    ============================================= -->
    <div class="contact-us de-padding">
        <div class="container">
            <div class="contact-us-wpr">
                <div class="row g-5">
                    <div class="col-xl-6 col-lg-6">
                        <div class="contact-content contact-page">
                            <div class="contact-bottom">
                                <div class="addr-box">
                                    <div class="addr-box-single">
                                        <div class="addr-icon">
                                            <i class="flaticon-location"></i>
                                        </div>
                                        <div class="addr-desc">
                                            <h5>Office Address</h5>
                                            <p class="mb-0">
                                                3812 Lena Lane City Jackson Mississippi
                                            </p>
                                        </div>
                                    </div>
                                    <div class="addr-box-single">
                                        <div class="addr-icon">
                                            <i class="flaticon-call"></i>
                                        </div>
                                        <div class="addr-desc">
                                            <h5>Phone Number</h5>
                                            <p class="mb-0">
                                                601-594-3504
                                            </p>
                                        </div>
                                    </div>
                                    <div class="addr-box-single">
                                        <div class="addr-icon">
                                            <i class="flaticon-envelope"></i>
                                        </div>
                                        <div class="addr-desc">
                                            <h5>Email</h5>
                                            <p class="mb-0">
                                                4cfdx9dy9e@temporary-mail.net
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <form class="contact-form" method="post" action="assets/mail/contact.php">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control input-style-2" name="fname" placeholder="Your Full Name*">
                                        <span class="alert alert-error"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control input-style-2" name="email" placeholder="Your Email Address*">
                                        <span class="alert alert-error"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control input-style-2" name="phone" placeholder="Phone Number">
                                        <span class="alert alert-error"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control input-style-2" name="web" placeholder="Your Wesite Link">
                                        <span class="alert alert-error"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control input-style-2" name="subject" placeholder="Subject...">
                                        <span class="alert alert-error"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <textarea class="form-control input-style-2" name="message" placeholder="Your Message..."></textarea>
                                    <div class="contact-sub-btn text-center">
                                        <button type="submit" name="submit" id="submit" class="btn-4">
                                            Send Message
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </div>
                                    <!-- Alert Message -->
                                    <div class="alert-notification">
                                        <div id="message" class="alert-msg"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Us -->
{% endblock %}
