{% extends 'layout.html.twig' %}

{% block content %}
    <!-- Start Slider
============================================= -->
    <div class="hero-2-section bg pos-rel">
        <div class="hero-2">
            <img src="assets/img/bg/bg-gallery.png" class="sec-pic-1" alt="thumb">
            <img src="assets/img/brush/b-1.png" class="sec-pic-2" alt="thumb">
            <img src="assets/img/brush/b-2.png" class="sec-pic-3" alt="thumb">
            <img src="assets/img/brush/b-3.png" class="sec-pic-4" alt="thumb">
        </div>
        <div class="hero-section-content hero-sldr owl-carousel owl-theme">
            <div class="hero-2-single">
                <div class="container g-0">
                    <div class="row">
                        <div class="col-xl-5">
                            <div class="hero-2-content">
                                <div class="hero-2-desc">
                                    <h2 class="hero-title">
                                        Non à l'abattoir oui au broutage.
                                    </h2>
                                    <p>
                                        Du haut de notre multinational qui s'éleve à 4 employées nous décidons de recueillir ses biquettes pour leur donner une dernière chance de brouter.                                     </p>
                                    <div class="hero-btn">
                                        <a href="contact.html" target="_blank" class="tm-btn-2">
                                            Loue ta chèvre
                                            <i class="icofont-long-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7">
                            <div class="hdr-2-pic">
                                <img src="assets/images/chevre1.png" class="up-move" alt="thumb">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-2-single">
                <div class="container g-0">
                    <div class="row ">
                        <div class="col-xl-5">
                            <div class="hero-2-content">
                                <div class="hero-2-desc">
                                    <h2 class="hero-title">
                                        Pour joindre l'utile et l'agréable.
                                    </h2>
                                    <p>
                                    Tu cherches à rencontrer ton agri-loueur. Rejoins notre communauté.
                                    </p>
                                    <div class="hero-btn">
                                        <a href="contact.html" target="_blank" class="tm-btn-2">
                                            Rencontre ton agriculteur
                                            <i class="icofont-long-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7">
                            <div class="hdr-2-pic">
                                <img src="assets/images/jose.png" class="up-move" alt="thumb">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Slider -->
{% endblock %}
